.list {
    max-width: 1600px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.zoom-out {
    max-width: 1048px;
    cursor: zoom-in;
}

.zoom-in {
    cursor: zoom-out;
}

iframe {
    display: none;
}

.imgBlockInList {
    border: 2px solid black;
}