.list {
    max-width: 1600px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.zoomOut{
    max-width: 1048px;
    cursor: zoom-in;
}

.zoomIn {
    cursor: zoom-out;
}

iframe
{
    display: none;
}

.imgBlockInList {
    border: 2px solid black;
}